.pie{
  min-height: 100%;
  position: relative;
  text-align: center;
  // padding-top: 30px;
  // color: #E7F7F5;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;
  // background-image:(linear-gradient(135deg, #4ebdc0, #53c9b3));

  height: 100%;

}
p.customer-satisfaction {
    display: inline-flex;
    position: relative;
    top: 85px;
    left: 225px;
}

.us-para{
  margin-bottom: 30px;
  padding-top: 25px;
}
.chart{
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
 // .box-sizing(border-box);
  padding-top: 22px;

  span{
    display: block;
    font-size: 2em;
    font-weight: normal;
    position: relative;
    top: 40px;
    left: 33px;
    color: #757575;
  }
  .customer-satisfaction{
    position: relative;
    display: inline-block;
    top: 445px;

  }

  canvas{
    position: absolute;
    left: 0;
    top: 0;
    height: 150px;
    width: 150px;
  }
  .pie-slider{
    color: #000
  }
}